/* General Setup */

html, body {
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 10px;
}
  
body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #6091C3;
}

/* Typography */

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000000;
}
  
p, input, li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2a2a2a;
}
  
h1 {
  font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
    font-weight: 100;
  }
  
  h2 {
    font-size: 5rem;
    text-align: left;
    font-weight: 800;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }

/* Other Details */

.header {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
}

.searchBar {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
}

.results {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
}

.individualResults {
    background-color: rgba(0,255,0,0.5);
    padding: 1%;
}